[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "."

[workflows]

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 3947996

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ""
